<section class="section-clients">
  <div class="container">
    <h1 class="clients-title">Our Clients</h1>
    <ul class="clients-list">
      <li class="clients-list-item">
        <a href="#"><img src="./img/airbnb.svg" alt="" /></a>
      </li>
      <li class="clients-list-item">
        <a href="#"><img src="./img/google.svg" alt="" /></a>
      </li>
      <li class="clients-list-item">
        <a href="#"><img src="./img/microsoft.svg" alt="" /></a>
      </li>
      <li class="clients-list-item">
        <a href="#"><img src="./img/fedex.svg" alt="" /></a>
      </li>
    </ul>
  </div>
</section>
