/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./variables.css');
@import url('./header.css');
@import url('./section-clients.css');

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

.container {
  max-width: 1140px;
  padding: 15px;
  margin: 0 auto;
}

/*** Visually hide element, but keep visible for search engine ***/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
